.components{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    background-color: rgb(189, 178, 182);
    
}
.headingtag{
    font-weight: bold;
    color: rgb(34, 90, 81);
    padding: 20px 0 0 0;
}
.maincomponentData{
    margin: 10px auto;

}
.topclass{
    background-color: rgb(189, 178, 182);
    margin: 0 ;
    padding: 10px 0 0 0;
}