.components {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  justify-content: space-between;
  background-color: #206e79;
  height: 946px;
  overflow: scroll;
  padding: 10px;
}
.BTNs {
  /* padding-top: 20px; */
  float: right;
}
.headingtag {
  font-weight: bold;
  color: rgb(34, 90, 81);
  padding: 20px 0 0 0;
  text-align: center;
}
.dataHolder {
  width: 90%;
  margin: 0 auto;
}
.maincomponentData {
  margin: 10px auto;
}
.button {
  float: right;

  padding-top: 20px;
}
.Tables {
  padding-top: 50px;
}
.topclass {
  background-color: #206e79;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}
.componentsInner {
  display: inline-block;
  vertical-align: middle;
}
.headingsName {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.headingsNameTable {
  display: flex;
  justify-content: space-between;
  width: 520px;
  background-color: antiquewhite;
  padding: 10px;
}

.rows {
  background-color: aqua;
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.tableHolder {
  height: 500px;
  overflow: scroll;
  margin: 70px 0 0 0;
}
#title {
  text-align: center;
  font-family: arial, sans-serif;
  background-color: #4caf50;
  width: 50%;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  color: white;
}

#users {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 90%;
  margin: 0 auto;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
