.headings{
    color: rgb(19, 94, 233);
    font-weight: bold;
    
}
.headingsSTATUS{
     color: white;
}
.intial_data{
     display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
 .intialDataHeading{
   
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    margin-bottom: 5px;

}
.extraClass{
 margin-bottom: 5px;
   
}
.paragraphClass{
    margin: 50px 0 0 0;
}
